/*---------------------------------------------------------------------------- Global Settings */
html, body {
    /* Disable text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */

    font-family: 'Muli',sans-serif;
    position: relative;
    /* overflow-x: hidden; */
    margin: 0;
}

.content {
    position: absolute;
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

/*---------------------------------------------------------------------------- Papierke Settings */

.imgPapierke {

}

.imgPapierke:hover {

}

.hovertext {
    position: absolute;
    /* display: none; */
}
.imgPapierke:hover + .hovertext{
    color: red;
    text-decoration: none;

}

.papierkeBlock {
    position: relative;
}

/*---------------------------------------------------------------------------- alle knoppen en layout van titel */

.clubSchild {
    padding: 5%;
}

/*---------------------------------------------------------------------------- Verschilldende hoofd-afbeeldingen per pagina */

#indx {background-image: url(afbeeldingen/gravensteenfeesten2022.2.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;}

#ges {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#inf {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#lied {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#kal {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#lid {    background-image: url(afbeeldingen/gravensteenfeesten2022.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#cont {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#praes {
    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

/*----------------------------------------------------------------------------preasidium afbeelding layout*/

.imgpraes {
    position: relative;
    width: 18rem;
}

.imgpraes img {
    /* border-top: rgb(0, 0, 0) solid 5px;
    border-bottom: rgb(0, 0, 0) solid 5px; */
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
}

.overlay {
    position: absolute;
    bottom: 11px;
    left: 0;
    right: 0;
    background-color: #0000005f;
    border-radius: 100%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    transform: scale(0);
    transition: 0.6s ease;
}

.imgpraes {
    margin-left: 3%;
    margin-right: 3%;
}

.hoverMe:hover .overlay {
    transform: scale(1);
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centercontent {
    display: grid;
}

.row {
    display: inline-flex;
    justify-content: center;
}

/*----------------------------------------------------------------------------preasidium pro-praesidia layout*/
.col {
    display: inline-flex;
    justify-content: center;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.399);
}

.preasesinjaar {
    display: inline;
    justify-content: center;
}

.jaartalpreasidium {
    display: inline-block;
    margin: 4%;
}

#propraes {
    background-color: rgb(172, 25, 25);
    background-size: cover;
    border-radius: 1%;
    margin-top: 8%;
}

#protitle {
    display: inline-table;
    margin-left: 6%;
}

/*-----------------------------------------------------------------------------------------------------footers*/

footer {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #000000;
    bottom: 0px;
}

.foot {
    padding: 0.5rem;
    background-color: #000000;
    color: #ffffff;s
}

footer a {
    text-decoration: none;
    color: rgb(181, 254, 154);
}

footer a:hover {
    color: rgb(0, 225, 82);
}

/*---------------------------------------------------------------------------- contact pagina*/

iframe {
    height: 500px;
    width: 900px;
}

#contact {
    padding: 8%;
}


/*---------------------------------------------------------------------------- texten*/

.pagetext {
    text-align: justify;
}

.pdfViewer {
    align-items: center;
}

/*---------------------------------------------------------------------------- navbar*/
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; /* the nav bar must stay on top! */
  background-color: black;
  transition: 0.5s;
}

.sticky + .content {
  padding-top: 60px;
}

.mytextdiv {
    display:flex;
    flex-direction:row;
    align-items: center;
}

/* All the colors for the flag */
.flagDividerRed {flex-grow:1;height: 10px;background-color: #d71f26;width: 20%;}
.flagDividerWhite {flex-grow:1;height: 10px;background-color: #ffffff;width: 20%;}
.flagDividerGreen {flex-grow:1;height: 10px;background-color: #116835;width: 20%;}

.pagetitle {
    padding: 2%;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.398); */
    background-blend-mode: difference;
    flex-grow:0;
}

.linknav {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    display: inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: rgba(0, 0, 0, 0.8);
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li {
    background: rgba(0, 0, 0, 0.4);
    display: block;
}

ul li ul li a {
    display: block !important;
}

ul li ul li:hover {
    background: rgba(0, 0, 0);
}


/*body {
    background-color: #ffffff;
    font-size: 1.25rem;
    font-family: "Romanica", sans-serif;
    color: #000000;
}*/



header {
    /* padding-right: 10%;
    padding-left: 10%; */
    font-size: 1.5rem;
    font-family: "Capitalis", sans-serif;
    color: #ffffff;
    height: 490px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: black;
    display: inline-table;
    justify-content: center;
}

main {
    padding: 10%;
}

.centertitle {
    text-align: center;
}

p {
    padding-left: 4%;
    padding-right: 4%;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
}


/*---------------------------------------------------------------------------- Cookie banner and disclaimer with link */

.cookie-banner a {
    color: #d71f26;
    text-decoration: none;
}
.cookie-banner:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
}.close {

    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


/*---------------------------------------------------------------------------- Merchandise site */

.merchandise {
    display: inline-block;
    position: relative;
    width: 18rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.merchandise img {
    border-top: rgb(0, 0, 0) solid 5px;
    border-bottom: rgb(0, 0, 0) solid 5px;
    border-radius: 40%;
    width: 15rem;
    height: 15rem;
}

.merchandise h3 {
    text-align: center;
}

.card {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

