/*---------------------------------------------------------------------------- Global Settings */
html, body {
    /* Disable text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */

    font-family: 'Muli',sans-serif;
    position: relative;
    /* overflow-x: hidden; */
    margin: 0;
}

* {
    box-sizing: border-box;
}

.content {
    position: absolute;
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

/*---------------------------------------------------------------------------- Papierke Settings */

.imgPapierke {

}

.imgPapierke:hover {

}

.hovertext {
    position: absolute;
    /* display: none; */
}
.imgPapierke:hover + .hovertext{
    color: red;
    text-decoration: none;

}

.papierkeBlock {
    position: relative;
}

/*---------------------------------------------------------------------------- Verschilldende hoofd-afbeeldingen per pagina */

#indx {background-image: url(afbeeldingen/gravensteenfeesten2022.2.jpg);background-repeat: no-repeat;background-size: cover;background-position: center 0px;}

.schild {
    background-image: url(afbeeldingen/shild.svg);background-repeat: no-repeat;background-size: initial;background-position: center 36%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

#ges {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#inf {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#lied {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#kal {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#lid {    background-image: url(afbeeldingen/gravensteenfeesten2022.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#cont {    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

#praes {
    background-image: url(afbeeldingen/olv.jpg);    background-repeat: no-repeat;    background-size: cover;    background-position: center;}

/*----------------------------------------------------------------------------preasidium afbeelding layout*/

.imgpraes {
    position: relative;
    width: 18rem;
    text-align: center;
}

.imgpraes img {
    /* border-top: rgb(0, 0, 0) solid 5px;
    border-bottom: rgb(0, 0, 0) solid 5px; */
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    background-color: #0000005f;
    border-radius: 100%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    transform: translate(-50%) scale(0);
    transition: 0.6s ease;
}

.imgpraes {
    margin-left: 3%;
    margin-right: 3%;
}

.hoverMe {
    position: relative;
}

.hoverMe:hover .overlay {
    transform: translate(-50%) scale(1);
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centercontent {
    display: grid;
}

/*----------------------------------------------------------------------------preasidium pro-praesidia layout*/
.col {
    display: inline-flex;
    justify-content: center;
    border-top-style: solid;
    border-top-color: #211D1E;
}

.preasesinjaar {
    display: inline;
    justify-content: center;
}

.jaartalpreasidium {
    display: inline-block;
    margin: 4%;
}

#propraes {
    background-color: #E43540;
    background-size: cover;
    border-radius: 1%;
    margin-top: 8%;
    color: #ffdada;
}

#protitle {
    display: inline-table;
    margin-left: 6%;
}

/*-----------------------------------------------------------------------------------------------------footers*/

footer {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #28292B;
    bottom: 0px;
    padding: 0.5rem;
    color: #ffffff;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 5%;
}

.row > div:first-child {
    flex-basis: 100%;
    text-align: center;
}

.row > div:not(:first-child) {
    box-sizing: border-box;
    flex: 1 1 25%;
    max-width: 100%;
    padding: 5px;
}

@media (max-width: 905px) and (min-width: 525px) {
    .row div:not(:first-child) {
        flex: 1 1 50%;
    }
    .row {
        margin: 0 10%;
    }
}

@media (max-width: 524px) {
    .row div:not(:first-child) {
        flex: 0 0 100%;
    }
    .row {
        margin: 0 15%;
    }
}

.row-break {
    flex-basis: 100%;
    height: 0;
}

.no-split {
    white-space: nowrap;
}

footer i {
    color: rgb(181, 254, 154);
}

footer p, footer a {
    text-decoration: none;
    color: #cec7c7;
    transition: color .2s ease-in-out;
}

footer a:hover {
    color: rgb(0, 225, 82);
}

footer b {
    font-size: 0.8rem;
}

.icons8 {
    vertical-align: middle;
}

/*---------------------------------------------------------------------------- contact pagina*/

iframe {
    height: 500px;
    width: 900px;
}

#contact {
    padding: 8%;
}


/*---------------------------------------------------------------------------- texten*/

.pagetext {
    text-align: justify;
}

.pdfViewer {
    align-items: center;
}

/*---------------------------------------------------------------------------- navbar*/
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

nav {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
  width: 100%;
  z-index: 100000; /* the nav bar must stay on top! */
  background-color: #141517;
  transition: background-color 0.5s;
}

.sticky + .content {
  padding-top: 60px;
}

.mytextdiv {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 765px) {
    .mytextdiv b {
        width: auto;
    }
}

/* All the colors for the flag */
.flagDividerRed {  height: 10px; margin-top: .5rem; background-color: #d71f26;width: 8%; flex-grow: 1;}
.flagDividerWhite {height: 10px; margin-top: .5rem; background-color: #ffffff;width: 8%; flex-grow: 1;}
.flagDividerGreen {height: 10px; margin-top: .5rem; background-color: #116835;width: 8%; flex-grow: 1;}

.pagetitle {
    padding: 1rem 1rem .5rem 1rem;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.398); */
    background-blend-mode: difference;
    width: 30vw;
}

.linknav::after {
    position: absolute;
    background-color: white;
    content: "";
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 13px;
    border-radius: 200px;
    transition: width 0.35s ease 0s, left 0.35s ease 0s;
}

li:hover > .linknav::after {
    width: calc(100% - 30px);
    left: 15px;
}

.current > .linknav::after {
    width: calc(100% - 30px);
    left: 15px;
}

.linknav {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    display: inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover ul {
    max-height: 300px;
}

ul li ul {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 200px;
    max-height: 0px;
    transition: max-height .6s ease-in-out;
    border-radius:  0 0 5px 5px;
    z-index: 10;
}

ul li ul li {
    background: rgba(0, 0, 0, 0.4);
    display: block;
}


/*body {
    background-color: #ffffff;
    font-size: 1.25rem;
    font-family: "Romanica", sans-serif;
    color: #000000;
}*/



header {
    /* padding-right: 10%;
    padding-left: 10%; */
    position: relative;
    font-size: 1.5rem;
    font-family: "Capitalis", sans-serif;
    color: #ffffff;
    height: 490px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: black;
    display: inline-table;
    justify-content: center;
}

main {
    padding: 5%;
}

.centertitle {
    text-align: center;
}

main p, main h1, main h2, main h3 {
    padding-left: 4%;
    padding-right: 4%;
}

h1, h2 {
    color: #393939;
    font-size: 2rem;
line-height: 1.25;
padding: 0 0 .9375rem;
font-family: Roboto,Roboto-Fallback,sans-serif;
text-align: left;
margin-top: 0;
margin-bottom: 0;

}

h3 {
    color: #9d9d9d;
    font-size: 1rem;
line-height: 1.375;
padding: 0 0 .3125rem;
font-family: Roboto,Roboto-Fallback,sans-serif;
font-weight: 700;
text-align: left;
margin-top: 0;
margin-bottom: 0;
}

p {
    color: #666;
    font-size: 1rem;
line-height: 1.625;
font-family: Roboto,Roboto-Fallback,sans-serif;
font-weight: 400;
    padding-bottom: 1.125rem;
    padding: 0 0 .75rem;
margin: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
}


/*---------------------------------------------------------------------------- Cookie banner and disclaimer with link */

.cookie-banner a {
    color: #d71f26;
    text-decoration: none;
}
.cookie-banner:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
}.close {

    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


/*---------------------------------------------------------------------------- Merchandise site */

.merchandise {
    display: inline-block;
    position: relative;
    width: 18rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.merchandise img {
    border-top: #211D1E solid 5px;
    border-bottom: #211D1E solid 5px;
    border-radius: 40%;
    width: 15rem;
    height: 15rem;
}

.merchandise h3 {
    text-align: center;
}

.card {
    position: relative;
}
.card .img-top {
    display: inline;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .35s ease-in-out, visibility .35s ease-in-out;
    z-index: 99;
}
.card:hover .img-top {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 927px) {
    p {
        font-size: 10.5pt;
        line-height: 1.1;
    }
}